




.container {
    max-width: 1170px;
    margin: 0 auto;         
}

.button {
    padding: 15px 30px;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    border-radius: 4px;      
}

.content {
    width: 495px;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #999;
}

.title {
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.subtitle {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    line-height: 24px;
    color: #999;
}

.span__start {   
    font-weight: 700;
    color: #000;
}

.direction {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #5ab963;
}

/* HEADER */
.header__wrapper{
    height: 582px;
    background-image: url(../images/Image1.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.header__nav {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
    gap: 40px;
    font-family: Libre Franklin;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 40px;   
}

.header__btn {
    padding: 11px 17px;
    border: 2px solid #fff;
    border-radius: 4px;   
}

.hero__business {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.hero__title {
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 71px;
    line-height: 78px;
    letter-spacing: 1px;
    color: #fff;
}

.hero__subtitle {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    margin-top: 30px;
}

.hero__button {   
    margin-top: 60px;
    background-color: #5ab963;
}

 /* SECTION SERVICES  */

 .services {
    margin-top: 120px;
}

.services__row {
    margin-top: 54px;
    padding: 51px 64px 85px 41px;
    display: flex;
    justify-content: space-between;       
}

.services__card {
    padding: 51px 64px 85px 41px;
    box-shadow: 0px 5px 20px 0px #0000000D;     
}

.services__title {
    margin-top: 25px;    
}

.services__subtitle {
    margin-top: 13px;    
    font-size: 13px;   
    width: 280px;
}

.services__img{
    height: 60px;
    width: 60px;
}

/* SECTION PRODUCT */
.product {
    height: 720px;
    margin-top: 120px;
    background-image: url(../images/Image6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

/* SECTION DECORE */
.decore {   
    margin-top: 115px;   
}

.decore__container {  
    padding: 0 339.75px;
}

.decore__body {    
    text-align: center;
}

.decore__about {
    margin-top: 6px;   
    text-align: center;
}

 /* SECTION PRODUCTS  */
.products {
    margin-top: 115px;     
}

.products__container {
    padding: 120px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;   
}

.products__cards {
    display: flex;
    flex-direction: column;
    row-gap: 90px;   
}

.products__wraper {
    display: flex;
    gap: 100px;   
}

.products__subtitle {
    margin-top: 25px;
    font-size: 13px;
}

.veriar {
    display: flex;
    justify-content: end;
}

.products__deal {
    margin-top: 110px;
    text-align: center;
}

.products__direction {
    margin-top: 12px;    
}

/* SECTION PARTY */
.party__body {
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
}

.party__link {
    display: flex;
    gap: 20px;
    color: #5ab963;
}

.party__title {
    margin-top: 15px;
    width: 483px;    
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #999;
}

.span__head {
    font-family: "Libre Franklin";
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #000;
}

.button__btn {
    display: flex;
    align-items: center;
}

.party__btn {
    background-color: #5ab963;
}

/* FOOTER */
.footer {
    background-color: #0A0E1A;
}

.footer__body {
    padding: 120px 0 150px;
    display: flex;
    justify-content: space-between;
}

.footer__copiright {
    margin-top: 15px;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

.footer__nav {
    display: flex;
    gap: 50px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.footer__social {
    display: flex;
    gap: 18px;
}

     
